".source.mermaid":
	editor:
		commentStart: "%% "
		increaseIndentPattern: """(?x)
			(?:^|\\s|;)
			( {
			| C4(?:Component|Container|Context|Deployment|Dynamic)
			| classDiagram (?:-v2)?
			| erDiagram
			| flowchart    (?:-v2)?
			| gantt
			| gitGraph (?:\\s+(?:LR|BT))? (\\s*:)?
			| graph
			| journey
			| pie
			| requirementDiagram
			| sequenceDiagram
			| stateDiagram (?:-v2)?
			| (?i:mindmap|timeline)
			) (?=$|\\s)(?!.*;[ \\t]*\\S)
		"""
		decreaseIndentPattern: """(?x)
			(?:^|\\s|;)
			(}|end)
			(?=$|\\s)
		"""

".source.mermaid .meta.flowchart":
	editor:
		increaseIndentPattern: """(?x)
			(?:^|\\s|;)
			( flowchart(?:-v2)?
			| graph
			| subgraph
			) (?=$|\\s)(?!.*;[ \\t]*\\S)
		"""

".source.mermaid .meta.sequence-diagram":
	editor:
		increaseIndentPattern: """(?ix)
			(?:^|\\s|;)
			( break
			| critical
			| loop
			| opt
			| par
			| rect
			| sequenceDiagram
			) (?=$|\\s)(?!.*;[ \\t]*\\S)
		"""
		decreaseIndentPattern: """(?ix)
			(?:^|\\s|;)
			(?:
				end (?=$|\\s)
				|
				( and
				| else
				| option
				) (?=$|\\s)(?!.*;[ \\t]*\\S)
			)
		"""

".source.mermaid .meta.state-diagram":
	editor:
		increaseIndentPattern: "(?:^|\\s|;)(stateDiagram(?:-v2)?|{|note(?=$|\\s)[^:]*$)"
		decreaseIndentPattern: "(?:^|\\s|;)(?:end\\s+note(?:$|\\s)|})"

".source.mermaid .meta.user-journey":
	editor:
		increaseIndentPattern: "(?i)^[ \\t]*(?:section|journey)(?=$|\\s)"
		decreaseIndentPattern: "(?i)^[ \\t]*(?:section)(?=$|\\s)"

".source.mermaid .meta.gantt-chart":
	editor:
		increaseIndentPattern: "(?i)^[ \\t]*(?:gantt)(?=$|\\s)"

".source.mermaid .meta.zenuml":
	editor:
		commentStart: "// "

".meta.gitgraph.gitgraph .source.embedded.json":
	editor:
		increaseIndentPattern: "(?:^|\\s|;)[ \\t]*(?i:gitGraph|options)(?=$|\\s|:)"
		decreaseIndentPattern: "(?:^|\\s|;)[ \\t]*(?i:end)(?=$|\\s)"
